<!-- ===================
Diretivas
======== São comportamentos de Extensões da 
linguagem HTML que permitem a implementação 
de novos comportamentos, de forma declarativas. -->

<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>3Diretivas_AngularJS</title>
    <style>
        .joaoClass {
            width: 400px;
            text-align: center;
            margin: auto;
            padding: 50px;

        }

        .selecionado {
            background-color: rgb(207, 207, 147);
        }
    </style>

    <script src="./angular-1.8.2/angular.js"></script>
    <script src="angular-1.8.2/angular-messages.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {

            $scope.app = "Lista Telefonica"

            $scope.contatos = [
                { nome: "João", telefone: "999992992" },
                { nome: "Ana", telefone: "919992002" },
                { nome: "Maria", telefone: "999993492" }
            ];

            $scope.operadoras = [
                { nome: "Oi", codigo: "14" },
                { nome: "Vivo", codigo: "15" },
                { nome: "Tim", codigo: "41" }
            ];
            $scope.classe = "selecionado";

            //Adicione $scope + "nome da Funcão como abaixo"
            //3- e dentro que ela faz. Push = incrementa no array
            //4- Para não repetir o array use angular.copy no Arrays
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };

            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;

                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });

            };
        });
            // ==============================
            // Metodos antigos

        //     $scope.adicionarContato = function (nome,telefone) {
        //         $scope.contatos.push({nome:nome, telefone:telefone});
        //     }



    </script>

    <title>Aula_3DIretivas</title>
</head>

<body ng-controller="listaTelefonicaCtrl">

    <div class="bg-light joaoClass">

        <h3 ng-bind="app"></h3>


        <table class="table table-striped">
            <tr>
                <th>Checar</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>

        <form name="contatoForm">

            <!-- -------------------Forma dificil----------- -->
            
            <input type="text" name="nome" class="form-control my-1" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10">

            <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty " class="alert alert-danger">O seu nome nao foi digitado</div>

            <div ng-show="contatoForm.nome.$error.minlength && contatoForm.nome.$dirty " class="alert alert-danger">O campo dever ter no minimo 10 Caracteres</div>

           <input type="text" name="telefone" class="form-control my-1" ng-model="contato.telefone" placeholder="Telefone" ng-required="true"  ng-pattern="/^\d{4,5}-\d{4}$/">

           <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">O seu telefone nao foi digitado</div>

           <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">O campo telefone deve ter o formato DDDDD-DDDD</div>
        </form>



            <!-- ------------Forma Pratica Message----------- -->

            <!-- ng-messages = ele melhora o codigo recebe todos os parametros deve passa ele la em cima tambem elembrese ["ngMassagens"] e scrip -->
            <!-- <div ng-messages="contatoForm.nome.$error">

                <input type="text" name="nome" class="form-control my-1" ng-model="contato.nome" placeholder="Nome"
                    ng-required="true" ng-minlength="10">

                <div ng-message="required" class="alert alert-danger">O
                    seu nome nao foi digitado</div>

                <div ng-message="minlength" class="alert alert-danger">
                    O campo dever ter no minimo 10 Caracteres</div>
            </div>

            <input type="text" name="telefone" class="form-control my-1" ng-model="contato.telefone"
                placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">

            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty"
                class="alert alert-danger">O seu telefone nao foi digitado</div>

            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">O campo telefone deve ter o
                formato DDDDD-DDDD</div>
        </form> -->
        <!-- ng-Disabled = Para desabilitar um elemento dinamicamente para validar campo nome e telefone juntos use !contato.telefone || contato.nome -->

        <!-- ng-options = para colocar opeçoes para selecionar -->
        <!--1 - passo crie um scope de operadoras e coloque o objeto.nome operadora in operadoras-->

        <!--ng-class = Ele somente atribui um classe ao objetos da tag-->
        <!-- ng-show,hide = Server para exibir elemento de formas condicional -->
        <!-- ng-if = ele cria um elemento no DOM do HTML -->
        <!-- ng-include = Ele acrescente conteudos dinamicamente na pagina ponha "'a pasta'" -->

        <!-- ng-required = Define um campo como obrigatorio -->
        <!-- $valid e Ex:contatoForm.$invalid = eu consigo consultar a validade do campo formulario -->

        <!-- $pristine e $dirty =Verifica se um formulario ja foi utilizado Ex:Mostre se contatoForm.nome.$dirty-->

        <!-- ng-Minlegth and ng-Maxlenght = define o tamanho maximo e minimo permitido -->

        <!-- $error = Pode trocar as validações todas substitui o $invalid -->

        <!-- ng-pattern = Pode colocar limites nas validações de campos -->

        <select class="form-control" ng-model="contato.operadora"
            ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione sua Operadora</option>
        </select>

        <!--operadora.codigo as operadora.nome para mostra so o codigo-->
        <button ng-click="adicionarContato(contato)" class="btn btn-info btn-block"
            ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)"
            class="btn btn-danger btn-block">Apagar Contato</button>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <div ng-include="'footerTest.html'"></div>
</body>

</html>