/* ----- Config Gerais ----- */
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* ------Corpo------- */

.quadro{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 700px;


}
.formUsuario{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.formMensagens{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    
}
.textInput{
    width: 95%;
    border: 5px solid blue;
}

input{
    width: 90%;
}

.debug{
    border: 2px solid green;
}

