<style>
    nav{
        background-color: rgb(127, 20, 228);
        margin: 0px;
        padding: 10px;
        color: whitesmoke;
        border-radius: 13px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
  
</style>

<nav>
    <h1>LOGO - <%=title%></h1>
    <ul>
        <a href="/">Voltar</a>
        <a href="/about">Entrada</a>
    </ul>
</nav>