.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.menu{
  display: flex;
}
.menu li{
  list-style: none;
  margin-left: 20px;
}

.verm{
  background-color: rgb(236, 62, 18);
  color:white;
}