:root{
    --azulMarinho:rgb(17, 173, 194);
    --azulMarinhoForte:rgb(17, 129, 194);
    --azulClaro:rgb(203, 236, 240);
    --vermClaro:rgb(235, 201, 201);
    --vermSangue:rgb(126, 39, 39);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ****** Cores ***** */
.cor-azul{
    background-color: var(--azulMarinho);
    color:var(--azulClaro);
}
.cor-light{
    background-color: var(--azulClaro);
    color:var(--azulMarinhoForte);
}
.cor-verme{
    background-color: var(--vermSangue);
    color: var(--vermClaro);
}

 /* ****** Componenntes ***** */

/* Nav bar*/
.nav-bar{
    width: 100%;
    height: 50px;
    
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-between;
    align-items: center;
    
}

.itens-linha{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap:10px;
    
}

/* ***** POSICAO ***** */


.container{
    width: 70%;
      margin: auto;
    }
  
    .flow-h{
        overflow: hidden;
    }
  

    /* ******* DEbug***** */
    .dug{
        border: 3px solid rgb(114, 3, 3);
    }